
   a {
    display: flex;
    
    justify-content: space-between;
    padding: 60px;
    background: #13293d;
    color:aliceblue
  }
  h1 {
    display: flex;
    justify-content: center;
    background-color: blue;
  }
  