
   a {
    display: flex;
    /* Defines how to distribute the empty space between child elements */
    justify-content: space-between;
    padding: 60px;
    background: #13293d;
    color:aliceblue
  }
  h1 {
    display: flex;
    justify-content: center;
    background-color: blue;
  }
  